@value fonts: "@assets/fonts.css";
@value montserrat, openSans from fonts;

.container {
  width: 668px;
  min-height: 515px;
  height: fit-content;
  background-color: #fffbf2;
  border-radius: 8px;
  box-sizing: border-box;
}

.titleBlock {
  height: 51px;
  width: 100%;
  background: #ffe5a1;
  padding: 16px 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.title {
  color: #000;
  font-family: openSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.errorWrap {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorContainer {
  height: 280px;
  width: 420px;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
  font-family: openSans;
}
