.component {
  width: 100vw;
  /* TODO: заминусовал тут высоту хедера */
  height: calc(100vh - 100px);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  background-color: #1e1e1e;
}

.block {
  width: 780px;
  height: 423px;
  margin-top: 108px;
}
.blockTitle {
  height: 57px;
  color: #ffffff;
  /* TODO: что у нас со шрифтами ?*/
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
}

.blockForm {
  background-color: #333333;
  height: 366px;
  /* TODO: радиус скругления углов добавь */
  border-radius: 16px;
}
