.titleBlock {
  margin: 24px 0 -35px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.title {
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.statusButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.statusButton {
  padding: 5px 16px;
  border-radius: 100px;
  background-color: initial;

  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.statusButtonActive {
  background-color: #fff;
}

.cancelAndSearchButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cancelOfferButton {
  border-radius: 100px;
  background: #ffb800;
  display: flex;
  /* height: 36px; */
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.searchRow {
  width: 210px;
  display: flex;
  align-items: center;
  /* width: 100%; */
  border-radius: 100px;
  border: 2px solid #222;
  background: inherit;
  box-sizing: border-box;
}

.searchIcon {
  width: 24px;
  min-width: 8px;
  margin-left: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputCLoseIcon {
  width: 21px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
  transform-origin: center;

  &:hover {
    transform: rotate(90deg);
  }
}

/* FIXME: дубрируется? */
.inputCLoseIcon:hover {
  transform: rotate(90deg);
}

.input {
  height: 36px;
  width: 100%;
  overflow: hidden;
  color: inherit;
  font-feature-settings:
    'liga' off,
    'clig' off;
  text-overflow: ellipsis;
  font-family: openSans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: inherit;
  border: none;
  box-sizing: border-box;

  /* &::placeholder {
    color: inherit;
  } */

  &:focus {
    outline: none;
  }
}

.searchOffer {
  /* Стили для поиска предложения */
}

.token {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tokenLogo {
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.hash {
  display: flex;
  gap: 9px;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}

/* TODO: упрости */
.etherscanIcon .copyIcon .statusIcon {
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  gap: 10px;
  align-items: center;
}

.receiver {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
